In [62]:
import numpy as np 
import pandas as pd

In [63]:
cbb = pd.read_csv('/Users/visheshgupta/Desktop/Final_Project_DE/archive/cbb.csv')

In [64]:
cbb.columns

Index(['TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB', 'POSTSEASON', 'SEED', 'YEAR'],
      dtype='object')

In [65]:
cbb24 = pd.read_csv('/Users/visheshgupta/Desktop/Final_Project_DE/archive/cbb24.csv')

In [66]:
cbb24.columns

Index(['RK', 'TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG%',
       'EFGD%', 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D',
       '3P_O', '3P_D', 'ADJ_T', 'WAB', 'SEED'],
      dtype='object')

In [67]:
cbb24['EFG_O'] = cbb24['EFG%']
cbb24['EFG_D'] = cbb24['EFGD%']
cbb24 = cbb24[['TEAM', 'CONF', 'G', 'W', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB', 'SEED']]

In [68]:
cbb24

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,SEED
0,Houston,B12,34,30,119.2,85.5,0.9785,49.7,44.0,13.7,...,30.2,29.9,39.0,48.4,43.4,34.7,30.0,63.3,10.6,1.0
1,Connecticut,BE,34,31,127.1,93.6,0.9712,57.1,45.1,14.9,...,26.8,33.3,32.5,58.5,43.7,36.7,31.9,64.6,11.3,1.0
2,Purdue,B10,33,29,126.2,94.7,0.9644,56.0,47.7,16.5,...,24.7,42.8,23.0,53.2,48.1,40.8,31.4,67.6,11.0,1.0
3,Iowa St.,B12,34,27,113.6,86.5,0.9583,51.9,47.1,15.7,...,29.4,36.1,35.2,51.7,46.9,34.9,31.5,67.6,6.9,2.0
4,Auburn,SEC,34,27,120.7,92.1,0.9573,54.1,43.4,14.9,...,30.3,38.2,41.0,54.9,42.8,35.2,29.8,69.8,5.5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357,Stonehill,NEC,30,4,90.3,114.2,0.0629,46.7,52.7,19.5,...,31.0,22.6,29.4,47.9,51.7,30.1,35.9,68.1,-22.0,NaN
358,St. Francis PA,NEC,28,8,93.1,118.1,0.0608,47.2,53.0,21.2,...,31.3,32.6,35.4,45.7,52.9,33.2,35.4,65.4,-18.6,NaN
359,IUPUI,Horz,29,6,92.1,116.9,0.0607,46.5,58.2,21.3,...,35.5,33.2,33.4,49.5,59.0,24.7,38.0,67.3,-21.6,NaN
360,Coppin St.,MEAC,29,2,85.1,111.1,0.0445,42.1,51.3,22.9,...,38.6,31.1,38.3,41.9,51.0,28.3,34.5,66.3,-22.9,NaN
361,Mississippi Valley St.,SWAC,31,1,85.4,116.2,0.0283,42.5,55.6,24.0,...,35.7,33.0,41.6,41.9,55.6,29.2,37.0,64.5,-22.7,NaN

In [69]:
cbb

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3518,Toledo,MAC,34,27,119.9,109.6,0.7369,56.3,52.9,13.6,...,27.5,54.6,52.1,39.7,36.1,69.5,-1.2,NaN,NaN,2023
3519,Liberty,ASun,33,27,111.4,97.3,0.8246,55.5,49.3,16.0,...,27.8,56.4,48.6,36.4,33.6,64.4,-2.0,NaN,NaN,2023
3520,Utah Valley,WAC,34,28,107.1,94.6,0.8065,51.7,44.0,19.3,...,28.7,52.5,42.8,33.4,31.1,69.8,-0.3,NaN,NaN,2023
3521,UAB,CUSA,38,29,112.4,97.0,0.8453,50.3,47.3,17.3,...,28.9,48.8,47.2,35.6,31.6,70.7,-0.5,NaN,NaN,2023
3522,North Texas,CUSA,36,31,110.0,93.8,0.8622,51.2,44.5,19.8,...,40.2,49.6,44.2,35.7,30.1,58.7,1.1,NaN,NaN,2023

In [70]:
cbb.to_csv('train_data.csv', index=False)

In [71]:
cbb24.to_csv('test_data.csv', index=False)

In [72]:
#dummy data:

In [73]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.barttorvik.com/"
response = requests.get(url)

# Parse the HTML
soup = BeautifulSoup(response.text, "html.parser")

# Inspect the page structure and find the table or relevant data
# Example: Extracting table data
table = soup.find("table")
rows = table.find_all("tr")

data = []
for row in rows:
    cols = row.find_all("td")
    cols = [ele.text.strip() for ele in cols]
    data.append(cols)

# Convert to DataFrame and save as CSV
df = pd.DataFrame(data)
df = df.dropna(how="all").reset_index(drop=True)

df.columns = ['RK', 'TEAM', 'CONF', 'G', 'REC', 'ADJOE', 'ADJDE', 'BARTHAG', "EFG_O", "EFG_D", 'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', "2P_O", "2P_D", "3P_O", "3P_D", '3PR', '3PRD', 'ADJ_T', 'WAB']
df = df[[
    "TEAM", "CONF", "G", "ADJOE", "ADJDE", "BARTHAG", 
    "EFG_O", "EFG_D", "TOR", "TORD", "ORB", "DRB", "FTR", "FTRD", 
    "2P_O", "2P_D", "3P_O", "3P_D", "ADJ_T", "WAB"
]]
df.to_csv("current_cbb_live_data.csv", index=False)

In [74]:
df.columns

Index(['TEAM', 'CONF', 'G', 'ADJOE', 'ADJDE', 'BARTHAG', 'EFG_O', 'EFG_D',
       'TOR', 'TORD', 'ORB', 'DRB', 'FTR', 'FTRD', '2P_O', '2P_D', '3P_O',
       '3P_D', 'ADJ_T', 'WAB'],
      dtype='object')

In [75]:
len(cbb.columns)

24

In [76]:
len(cbb24.columns)

22

In [77]:
'''   
# columns that we are missing in our scrapped date:
1. W : no of  games a team won
2. POST SEASON: What position they finished. This is what we are predciting so we are good
3. Seed: We cannot know this information 
4. Year: This is Trivial 
'''

'   \n# columns that we are missing in our scrapped date:\n1. W : no of  games a team won\n2. POST SEASON: What position they finished. This is what we are predciting so we are good\n3. Seed: We cannot know this information \n4. Year: This is Trivial \n'

In [78]:
df

,TEAM,CONF,G,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,TORD,ORB,DRB,FTR,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB
0,Houston,B12,3,118.57,89.71,.96131,55.762,44.155,14.458,27.84,41.112,23.745,29.0266,31.9143,48.9222,49.4146,48.23,25.428,66.0355,-0.1294
1,Duke,ACC,4,118.75,90.22,.95912,56.943,39.09,13.433,20.1100,36.655,23.949,24.7316,22.430,58.063,39.316,37.279,25.731,70.4159,-0.18103
2,Auburn (H) 186 North Alabama,SEC,3,119.52,93.56,.94383,61.39,37.63,13.845,17.4198,33.3106,29.8187,30.2248,27.171,68.92,36.75,35.4126,26.341,70.7125,+1.12
3,Gonzaga (A) 76 San Diego St.,WCC,3,121.91,95.723,.94174,61.013,44.968,12.517,20.976,38.039,20.513,29.7257,29.7112,61.425,51.4186,40.330,22.711,71.770,+1.04
4,Kansas,B12,4,119.23,93.78,.94095,56.746,44.561,12.416,17.6188,25.4274,24.865,26.0304,31.0129,56.974,47.4108,37.570,26.442,71.580,+1.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,Florida A&M,SWAC,3,91.7361,110.9328,.1005360,43.1308,60.0348,23.3338,10.1359,24.8287,34.2283,38.6112,31.2133,44.6284,61.5335,27.7289,38.6308,71.1102,-1.1229
360,Arkansas Pine Bluff (A) 13 Texas Tech,SWAC,5,94.1353,115.6364,.0864361,47.9233,58.4329,21.5304,11.1355,26.1260,43.4359,24.7316,36.4210,51.4176,64.0351,28.1280,34.4222,72.831,-2.4342
361,Coppin St.,MEAC,6,89.7362,110.2312,.0862362,38.7347,58.4329,19.8258,17.6188,23.5304,28.1140,27.7281,36.7214,40.3333,59.4319,23.6339,38.2301,69.3230,-3.4359
362,VMI (A) 32 Pittsburgh,SC,5,88.9364,113.0356,.0600363,49.2206,51.7215,14.971,21.565,29.0208,26.4103,32.2215,32.0145,52.8150,61.0331,29.3257,29.5103,72.733,-0.8201
363,Mississippi Valley St.,SWAC,4,89.2363,113.4361,.0593364,33.7362,63.0360,29.6363,11.6351,21.8325,39.6338,26.0304,59.2360,39.3340,67.0362,9.1364,37.9295,68.9256,-0.8194

In [79]:
pip install pygam

Requirement already satisfied: pygam in /opt/miniconda3/lib/python3.12/site-packages (0.9.1)
Requirement already satisfied: numpy>=1.25 in /opt/miniconda3/lib/python3.12/site-packages (from pygam) (1.26.4)
Requirement already satisfied: progressbar2<5.0.0,>=4.2.0 in /opt/miniconda3/lib/python3.12/site-packages (from pygam) (4.5.0)
Requirement already satisfied: scipy<1.12,>=1.11.1 in /opt/miniconda3/lib/python3.12/site-packages (from pygam) (1.11.4)
Requirement already satisfied: python-utils>=3.8.1 in /opt/miniconda3/lib/python3.12/site-packages (from progressbar2<5.0.0,>=4.2.0->pygam) (3.9.0)
Requirement already satisfied: typing-extensions>3.10.0.2 in /opt/miniconda3/lib/python3.12/site-packages (from python-utils>=3.8.1->progressbar2<5.0.0,>=4.2.0->pygam) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [80]:
from pygam import LinearGAM, s

# Replace NaN values in train and test datasets
df_train = cbb.replace(np.nan, 0)
df_test = cbb24.replace(np.nan, 0)

In [81]:
df_train

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3518,Toledo,MAC,34,27,119.9,109.6,0.7369,56.3,52.9,13.6,...,27.5,54.6,52.1,39.7,36.1,69.5,-1.2,0,0.0,2023
3519,Liberty,ASun,33,27,111.4,97.3,0.8246,55.5,49.3,16.0,...,27.8,56.4,48.6,36.4,33.6,64.4,-2.0,0,0.0,2023
3520,Utah Valley,WAC,34,28,107.1,94.6,0.8065,51.7,44.0,19.3,...,28.7,52.5,42.8,33.4,31.1,69.8,-0.3,0,0.0,2023
3521,UAB,CUSA,38,29,112.4,97.0,0.8453,50.3,47.3,17.3,...,28.9,48.8,47.2,35.6,31.6,70.7,-0.5,0,0.0,2023
3522,North Texas,CUSA,36,31,110.0,93.8,0.8622,51.2,44.5,19.8,...,40.2,49.6,44.2,35.7,30.1,58.7,1.1,0,0.0,2023

In [82]:
# Define a mapping dictionary for POSTSEASON finishes
postseason_mapping = {
    "Champions": 1,
    "2ND": 2,
    "F4": 3,
    "E8": 4,
    "S16": 5,
    "R32": 6,
    "R64": 7,
    "R68": 8
}

# Apply the mapping to create POSTSEASON_FINISH column
df_train["POSTSEASON"] = df_train["POSTSEASON"].map(postseason_mapping).fillna(0).astype(int)

In [83]:
df_train

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3518,Toledo,MAC,34,27,119.9,109.6,0.7369,56.3,52.9,13.6,...,27.5,54.6,52.1,39.7,36.1,69.5,-1.2,0,0.0,2023
3519,Liberty,ASun,33,27,111.4,97.3,0.8246,55.5,49.3,16.0,...,27.8,56.4,48.6,36.4,33.6,64.4,-2.0,0,0.0,2023
3520,Utah Valley,WAC,34,28,107.1,94.6,0.8065,51.7,44.0,19.3,...,28.7,52.5,42.8,33.4,31.1,69.8,-0.3,0,0.0,2023
3521,UAB,CUSA,38,29,112.4,97.0,0.8453,50.3,47.3,17.3,...,28.9,48.8,47.2,35.6,31.6,70.7,-0.5,0,0.0,2023
3522,North Texas,CUSA,36,31,110.0,93.8,0.8622,51.2,44.5,19.8,...,40.2,49.6,44.2,35.7,30.1,58.7,1.1,0,0.0,2023

In [84]:

# Define relevant features based on final data structure
selected_features = [
    "G", "ADJOE", "ADJDE", "BARTHAG", "EFG_O", "EFG_D",
    "TOR", "TORD", "ORB", "DRB", "FTR", "FTRD",
    "2P_O", "2P_D", "3P_O", "3P_D", "ADJ_T", "WAB"
]

# Prepare train data
X_train = df_train[selected_features]
y_train = df_train["POSTSEASON"]  # Target variable is now PostSeason

In [85]:
# Build and fit a GAM model
gam = LinearGAM(
    s(0) + s(1) + s(2) + s(3) + s(4) + s(5) + s(6) +
    s(7) + s(8) + s(9) + s(10) + s(11) + s(12) + s(13) +
    s(14) + s(15) + s(16)
)
gam.fit(X_train, y_train)

LinearGAM(callbacks=[Deviance(), Diffs()], fit_intercept=True,
   max_iter=100, scale=None,
   terms=s(0) + s(1) + s(2) + s(3) + s(4) + s(5) + s(6) + s(7) + s(8) + s(9) + s(10) + s(11) + s(12) + s(13) + s(14) + s(15) + s(16) + intercept,
   tol=0.0001, verbose=False)

In [86]:

# Prepare test data
X_test = df_test[selected_features]
teams_test = df_test["TEAM"]  # Preserve team names for final output

# Predict postseason outcomes for the test data
y_pred_test = gam.predict(X_test)

# Combine predictions with team names
results_test = pd.DataFrame({
    "TEAM": teams_test,
    "Predicted_PostSeason": y_pred_test
})

# Sort results based on predicted postseason finishes
ranked_results_test = results_test.sort_values(
    by="Predicted_PostSeason", ascending=False
).reset_index(drop=True)

# Print ranked teams with predicted postseason finishes
print(ranked_results_test)

                       TEAM  Predicted_PostSeason
0                New Mexico              8.386343
1                 Marquette              7.009203
2                      Duke              6.678677
3            North Carolina              6.625349
4                   Arizona              6.526238
..                      ...                   ...
357            Rhode Island             -0.962007
358            South Dakota             -0.983154
359  Mississippi Valley St.             -0.984682
360               Dartmouth             -1.045597
361                     VMI             -1.231355

[362 rows x 2 columns]

In [87]:
ranked_results_test['Predicted_PostSeason'] = np.floor(ranked_results_test['Predicted_PostSeason'])

# Filter teams that make March Madness (Predicted_PostSeason > 0.0)
teams_make_march_madness = ranked_results_test[ranked_results_test['Predicted_PostSeason'] > 0.0]

In [88]:
teams_make_march_madness

                   TEAM  Predicted_PostSeason
0            New Mexico                   8.0
1             Marquette                   7.0
2                  Duke                   6.0
3        North Carolina                   6.0
4               Arizona                   6.0
..                  ...                   ...
140      Louisiana Tech                   1.0
141  East Tennessee St.                   1.0
142            Arkansas                   1.0
143            UC Davis                   1.0
144      UNC Greensboro                   1.0

[145 rows x 2 columns]

In [89]:
teams_make_march_madness[teams_make_march_madness['Predicted_PostSeason'] == 1.0]

                   TEAM  Predicted_PostSeason
75             Maryland                   1.0
76                  SMU                   1.0
77        San Francisco                   1.0
78           Fort Wayne                   1.0
79      Appalachian St.                   1.0
..                  ...                   ...
140      Louisiana Tech                   1.0
141  East Tennessee St.                   1.0
142            Arkansas                   1.0
143            UC Davis                   1.0
144      UNC Greensboro                   1.0

[70 rows x 2 columns]

In [91]:
teams_make_march_madness[teams_make_march_madness['TEAM'] == 'Purdue']

      TEAM  Predicted_PostSeason
21  Purdue                   5.0